<div class="grid max-w-17rem">
  <div class="col-12">
    <app-calculator-result [result]="result"></app-calculator-result>
  </div>
  <div class="col-4">
    <app-calculator-number
      [number]="1"
      (selectedNumber)="displayNumber($event)"
    ></app-calculator-number>
  </div>
  <div class="col-4">
    <app-calculator-number
      [number]="2"
      (selectedNumber)="displayNumber($event)"
    ></app-calculator-number>
  </div>
  <div class="col-4">
    <app-calculator-operator [operator]="'+'"></app-calculator-operator>
  </div>
  <div class="col-4">
    <app-calculator-number
      [number]="3"
      (selectedNumber)="displayNumber($event)"
    ></app-calculator-number>
  </div>
</div>
