<div class="grid">
  <div class="col-12">
    <app-calculator-result [result]="result"></app-calculator-result>
  </div>
  <div class="col-4">
    <app-calculator-number [number]="1"></app-calculator-number>
  </div>
  <div class="col-4">
    <app-calculator-number [number]="2"></app-calculator-number>
  </div>
  <div class="col-4">
    <app-calculator-operator [operator]="'+'"></app-calculator-operator>
  </div>
  <div class="col-4">
    <app-calculator-number [number]="3"></app-calculator-number>
  </div>
</div>
